{{#each this}}
<li class="gallery-item">
    <div class="image-container">
        <img class="gallery-item" src="{{webformatURL}}" data-source={{largeImageURL}} alt="{{tags}}" />
    </div>

    <div class="item-statistics">
        <p class="stats-item">
            <i class="material-icons ">thumb_up</i>
            {{likes}}
        </p>
        <p class="stats-item">
            <i class="material-icons ">visibility</i>
            {{views}}
        </p>
        <p class="stats-item">
            <i class="material-icons ">comment</i>
            {{comments}}
        </p>
        <p class="stats-item">
            <i class="material-icons ">cloud_download</i>
            {{downloads}}
        </p>
    </div>
</li>
{{/each}}